<%- include('../partials/header') %>
    <main>
        <div class="about-content">
            <h2>O aplikacji</h2>

            <p>
                Aplikacja do zarządzania podróżami.
                Umożliwia dodawanie, edycję, usuwanie oraz przeglądanie podróży.
            </p>

            <p>
                Projekt wykonany w Node.js, Express, MongoDB oraz EJS.
            </p>
        </div>
    </main>
    <%- include('../partials/footer') %>