<%- include('../partials/header') %>
    <main style="text-align:center; padding:50px;">
        <h2>Błąd <%= statusCode %>
        </h2>
        <p>
            <%= message %>
        </p>
        <a href="/" class="list-btn">← Wróć do listy podróży</a>
    </main>
    <%- include('../partials/footer') %>