<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Biuro podróży</title>
</head>

<body>
    <header>
        <h1>Travel agency App</h1>
        <nav>
            <a href="/about">O aplikacji</a>
            <a href="/" class="list-btn">Lista</a>
            <a href="/add" class="add-btn">Dodaj podróż</a>
        </nav>
    </header>